@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,100;9..144,200;9..144,300;9..144,400;9..144,500;9..144,600;9..144,700;9..144,800;9..144,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --lineX: 0%;
  --opacityLine: 0;
  --doorHeight: 50vh;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
}

header {
  overflow: hidden;
}
header nav {
  margin-top: 7vh;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
header nav ul {
  display: flex;
  gap: 5rem;
}
header nav ul li {
  list-style: none;
  font-size: 2rem;
  font-family: "Barlow", sans-serif;
}
header nav ul li a {
  color: hsl(0deg, 0%, 100%);
  text-decoration: none;
}
header nav ul li:last-child a {
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  font-family: 400;
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(212deg, 27%, 19%);
  padding: 2rem 3rem 2rem 3rem;
  border-radius: 10rem;
}
header nav ul li:last-child a:hover {
  color: hsl(0deg, 0%, 100%);
  transition: 0.3s;
  background-color: rgba(255, 255, 255, 0.4);
}
header nav .hamburger {
  display: none;
}

.doors {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 999;
}
.doors .door1,
.doors .door2 {
  background-color: hsl(167deg, 40%, 24%);
  height: var(--doorHeight);
  width: 100%;
}
.doors .door2 {
  position: absolute;
  bottom: 0;
}

footer {
  background-color: hsl(169deg, 43%, 69%);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
footer .logo {
  width: 15rem;
  padding-top: 10rem;
  align-self: center;
}
footer ul {
  padding-top: 4rem;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 5rem;
}
footer ul a {
  font-size: 2rem;
  color: hsl(168deg, 34%, 41%);
  text-decoration: none;
  font-family: "Barlow", sans-serif;
}
footer nav {
  padding-bottom: 10rem;
}
footer .social-icons {
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding-bottom: 7rem;
}
footer a:hover {
  transition: 0.3s;
  color: hsl(0deg, 0%, 100%);
}
footer a:hover img {
  filter: brightness(0) invert(1);
}

@media (max-width: 780px) {
  html {
    text-align: center;
  }
  header nav {
    position: relative;
  }
  header h1 {
    font-size: 5rem;
  }
  header .logo {
    justify-self: center;
    align-self: flex-start;
  }
  header .hamburger {
    position: relative;
    display: block !important;
    width: 4rem;
  }
  header ul {
    visibility: hidden;
    position: absolute;
    flex-direction: column;
    gap: 7rem;
    z-index: 3;
    top: 10rem;
    width: 100%;
    background-color: white;
    padding-top: 7rem;
    padding-bottom: 10em;
  }
  header ul li a {
    font-size: 2rem;
    color: hsl(232deg, 10%, 55%) !important;
  }
  header ul li:last-child {
    margin-top: 2rem !important;
  }
  header ul li:last-child a {
    color: hsl(212deg, 27%, 19%) !important;
    background-color: hsl(51deg, 100%, 49%) !important;
  }
  header ul::after {
    content: "";
    position: absolute !important;
    right: 0;
    top: -3.6rem;
    border-top: 1.8rem solid transparent;
    border-bottom: 1.8rem solid hsl(0deg, 0%, 100%);
    border-left: 1.8rem solid transparent;
    border-right: 1.8rem solid hsl(0deg, 0%, 100%);
  }
}
header {
  background-color: hsl(51deg, 100%, 49%);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
header nav li a {
  color: hsl(212deg, 27%, 19%) !important;
  font-weight: 600;
}
header .hero {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}
header .hero h1 {
  font-size: 6rem;
  font-weight: 700;
  font-family: "Fraunces", serif;
  color: hsl(212deg, 27%, 19%);
  text-transform: uppercase;
}
header .hero img {
  max-width: 80vw;
}

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 50%));
  grid-template-rows: auto;
}
.services .transform-image,
.services .stand-image,
.services .graphic-image,
.services .photo-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 60vh;
}
.services .transform-image {
  background-image: url(../images/desktop/image-transform.jpg);
}
.services .stand-image {
  background-image: url(../images/desktop/image-stand-out.jpg);
}
.services .graphic-image {
  background-position: top center;
  background-image: url(../images/desktop/image-graphic-design.jpg);
}
.services .photo-image {
  background-image: url(../images/desktop/image-photography.jpg);
  background-position: top center;
}
.services .wrapper {
  display: flex;
  justify-content: center;
  position: relative;
}
.services .stand-text,
.services .transform-text,
.services .photo-text,
.services .graphic-text {
  padding-top: 4rem;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services .stand-text h2,
.services .stand-text p,
.services .stand-text a,
.services .transform-text h2,
.services .transform-text p,
.services .transform-text a,
.services .photo-text h2,
.services .photo-text p,
.services .photo-text a,
.services .graphic-text h2,
.services .graphic-text p,
.services .graphic-text a {
  font-family: "Fraunces", serif;
  color: hsl(212deg, 27%, 19%);
}
.services .stand-text h2,
.services .transform-text h2,
.services .photo-text h2,
.services .graphic-text h2 {
  align-self: flex-start;
  font-size: 5rem;
  font-weight: 600;
}
.services .stand-text p,
.services .transform-text p,
.services .photo-text p,
.services .graphic-text p {
  color: hsl(232deg, 10%, 55%);
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-size: 2.4rem;
}
.services .stand-text a,
.services .transform-text a,
.services .photo-text a,
.services .graphic-text a {
  color: hsl(212deg, 27%, 19%);
  font-size: 3rem;
  margin-bottom: 4rem;
  text-transform: uppercase;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  align-self: flex-start;
  font-weight: 300;
}

@media (max-width: 780px) {
  header {
    min-height: 70vh;
    justify-content: space-between;
  }
  .hero {
    padding-top: 10rem;
    flex-direction: column;
    flex: 0 !important;
    align-items: center !important;
  }
  .hero img {
    padding-top: 2rem;
  }
  .services {
    grid-template-columns: repeat(auto-fit, minmax(300px, 100%));
    grid-auto-flow: dense;
  }
  .services a {
    align-self: center !important;
  }
  .services h2 {
    align-self: center !important;
  }
  .services .transform-image {
    grid-row: 3;
  }
  .services .photo-image {
    grid-row: 7;
  }
}/*# sourceMappingURL=services.css.map */